body{
    background-color: #f4f4f9;
}

footer {
    background-color: #333;
    font-size: 20px;
    margin-top: 30px;
    color: white;
    width: 100%;
}

nav {
    background-color: #333;
    padding: 10px;
    width: 100%;
  }
  ul {
    list-style: none;
    display: flex; /* Coloca os itens em linha */
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0 20px; /* Espaçamento entre os itens */
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  a:hover {
    text-decoration: underline;
  }